* {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Helvetica-Neue-CondensedBold';
  src: url('../assets/fonts/HelveticaNeue-CondensedBold.otf');
  src: url('../assets/fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
    url('../assets/fonts/HelveticaNeue-CondensedBold.woff') format('woff'),
    url('../assets/fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'),
    url('../assets/fonts/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeue.otf');
  src: url('../assets/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/HelveticaNeue.woff2') format('woff2'),
    url('../assets/fonts/HelveticaNeue.woff') format('woff'),
    url('../assets/fonts/HelveticaNeue.ttf') format('truetype'),
    url('../assets/fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeue-Bold.otf');
  src: url('../assets/fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
    url('../assets/fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('../assets/fonts/HelveticaNeue-Bold.ttf') format('truetype'),
    url('../assets/fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: 'Regular-Regular', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  --red: #c8102e;
  --white: #ffffff;
  --grey: #d8d8d8;
  --black: #000000;
}

body {
  margin: 0;
  position: relative;
}

h1,
h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
}

button {
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  padding: 20px;
}

#sid-grainger-quiz h1 {
  color: var(--white);
  font-size: 58px;
}

#sid-grainger-quiz p {
  font-size: 24px;
  line-height: 28px;
}

#sid-grainger-quiz #sid-grainger-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#sid-grainger-quiz #sid-grainger-container {
  background-color: var(--grey);
  height: 612px;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
}

#sid-dots {
  margin-top: -39px;
}

#sid-dots li {
  display: inline-block;
  border: 1px solid black;
  padding: 7px;
  border-radius: 10px;
  margin-left: 18px;
  transition: all 0.3s;
}

#sid-dots li:first-child,
#sid-dots li.current+li {
  background-color: black;
  transition: all 0.3s;
}

#sid-dots li:first-child {
  margin-left: 0;
}

#sid-grainger-quiz .sid-Card-home {
  height: 100%;
  width: 100%;
  text-align: left;
}

#sid-grainger-quiz .sid-Card-home>div {
  padding: 85px 100px;
}

#sid-grainger-quiz .sid-Card-home p {
  color: var(--white);
  font-size: 22px;
  padding: 30px 0 65px;
}

#sid-grainger-quiz .sid-Card-home button {
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 27px;
  position: relative;
  text-align: left;
  width: 215px;
}

#sid-grainger-quiz .sid-Card-home button::after {
  border-top: 2px solid;
  border-right: 2px solid;
  content: '';
  height: 11px;
  position: absolute;
  right: 27px;
  top: 22.5px;
  transform: rotate(45deg);
  width: 11px;
}

#sid-grainger-quiz .sid-Card-Question {
  background-color: var(--white);
  border-radius: 26px;
  margin: 85px auto;
  padding: 75px 71px;
  position: relative;
  text-align: center;
}

#sid-grainger-quiz .sid-Card-Question h2 {
  font-size: 38px;
  margin: 35px auto 0px;
}

#sid-grainger-quiz .sid-Card-Question button {
  background-color: var(--red);
  color: var(--white);
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.5;
  margin: 0 15px;
  padding: 16px;
  position: relative;
  width: 215px;
}

.button-wrapper {
  bottom: 45px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

}

#sid-grainger-quiz .sid-Card-Fact {
  background-color: var(--white);
  border-radius: 20px;
  margin: 85px 95px;
  padding: 75px 85px;
  position: relative;
  text-align: center;
  animation: show 0.8s forwards;
}

#sid-grainger-quiz .sid-Card-Fact h3 {
  font-family: "Helvetica-Neue-CondensedBold", sans-serif;
  font-size: 57px;
  font-weight: bold;
  padding: 30px 0;
  text-transform: capitalize;
}

#sid-grainger-quiz .sid-Card-Fact p {
  font-size: 22px;
}

#sid-grainger-quiz .sid-Card-Fact #next {
  background-color: var(--red);
  color: var(--white);
  font-weight: normal;
  font-size: 20px;
  padding: 15px 43px;
  position: absolute;
  right: -60px;
  top: calc(100% + 28px);
  transform: scale(1);
  transition: transform 0.3s;
  width: 130px;
}

#sid-grainger-quiz .sid-Card-Fact #next:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}

.sid-Card-Question .wrong {
  animation: buzz 0.5s forwards;
}

.sid-Card-Question .wrong::after {
  content: '';
  height: 35px;
  position: absolute;
  padding: 16px;
  text-align: center;
  background-image: url('../assets/images/sid-gr-wrong.svg');
  background-repeat: no-repeat;
  bottom: 75%;
  left: 77%;
  border-radius: 100%;
  font-size: 15px;
  opacity: 0;
  animation: show 0.5s forwards;
  width: 35px;
}

.sid-Card-Question button.correct {
  animation: correct 0.5s forwards;
} 

.sid-Card-Question .correct::after {
  content: '';
  height: 35px;
  position: absolute;
  padding: 16px;
  text-align: center;
  background-image: url('../assets/images/sid-gr-check.svg');
  background-repeat: no-repeat;
  bottom: 75%;
  left: 77%;
  border-radius: 100%;
  font-size: 15px;
  opacity: 0;
  animation: show 0.5s forwards;
  width: 35px;
}

.sid-Card-Result {
  background-color: var(--red);
  height: 100%;
  position: relative;
}

.sid-Card-Result .result-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white);
  max-width: 890px;
  margin: 0 auto;
  width: 100%;
}

.sid-Card-Result .result-container p {
  font-size: 24px;
}

.sid-Card-Result .result-container h2 {
  font-family: 'Helvetica-Neue-CondensedBold', sans-serif;
  font-size: 160px;
  margin-bottom: 5px;
}

.sid-Card-Result .progress {
  background-image: url(../assets/images/progress.svg);
  background-repeat: repeat;
  background-color: var(--grey);
  height: 45px;
  margin-bottom: 100px;
  position: relative;
  transform: skewX(-15deg);
  width: 100%;
}

.sid-Card-Result .progress>div {
  background-color: var(--black);
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  transform: translate(0, -50%);
}

.sid-Card-Result button {
  background-color: var(--white);
  padding: 14px 0;
  width: 230px;
}

.sid-Card-Result button#retake {
  margin-left: 25px;
  width: 195px;
}

.sid-Card-Result button#retake ul li img {
  margin-left: 20px;
}

.sid-Card-Result button ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sid-Card-Result ul li p {
  font-weight: bold;
  font-size: 20px;
}

.sid-Card-Result ul li {
  list-style: none;
  display: inline-block;
}

.sid-Card-Result ul li img {
  height: 24px;
  margin-left: 23px;
  width: auto;
}

@keyframes show {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes correct {
from{
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
to{
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
}
#sid-grainger-quiz .sid-Card-Fact,
#sid-grainger-quiz .sid-Card-Question {
  max-width: 888px;
  max-height: 418px;
  width: 100%;
  height: 100%;
}