@media (max-width: 1079px) {

    #sid-grainger-quiz #sid-grainger-wrapper,
    #sid-grainger-quiz .button-wrapper,
    #sid-grainger-quiz .sid-Card-Fact #next {
        position: initial;
        transform: none;
    }

    #sid-grainger-quiz #sid-grainger-container {
        display: -webkit-box;  
        display: -moz-box;    
        display: -ms-flexbox;  
        display: -webkit-flex; 
        display: flex; 
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        max-width: none;
        position: relative;
    }

    #sid-grainger-quiz .sid-Card-home {
        align-items: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        padding: 0;
    }

    #sid-grainger-quiz .sid-Card-home>div {
        padding: 40px;
    }

    #sid-grainger-quiz .sid-Card-Fact,
    #sid-grainger-quiz .sid-Card-Question {
        height: auto;
        max-width: none;
        max-height: none;
        margin: 0 auto;
        padding: 40px;
        width: calc(100% - 10%);
    }

    #sid-grainger-quiz .button-wrapper {
        display: block;
        margin-top: 66px;
    }

    #sid-grainger-quiz .sid-Card-Fact #next {
        margin-top: 66px;
    }

    #sid-grainger-quiz .sid-Card-Result .progress {
        margin: 0 auto 100px;
        width: calc(100% - 20%);
    }

    #sid-grainger-quiz #sid-dots {
        margin-top: initial;
    }

    #sid-grainger-quiz #sid-dots li {
        margin-left: 8px;
        padding: 5px;
    }
}

@media (max-width:767px) {
    #sid-grainger-quiz h1 {
        font-size: 45px;
    }

    #sid-grainger-quiz h1 br {
        display: none;
    }

    #sid-grainger-quiz .sid-Card-Question h2 {
        font-size: 32px;
    }

    #sid-grainger-quiz .sid-Card-Question button {
        font-size: 18px;
    }

    #sid-grainger-quiz .sid-Card-Fact h3 {
        font-size: 40px;
        padding: 20px 0;
    }

    #sid-grainger-quiz .sid-Card-fact p,
    #sid-grainger-quiz p {
        font-size: 20px;
    }

    #sid-grainger-quiz .sid-Card-Fact,
    #sid-grainger-quiz .sid-Card-Question {
        padding: 40px 30px;
    }

    #sid-grainger-quiz .button-wrapper,
    #sid-grainger-quiz .sid-Card-Fact #next {
        margin-top: 45px;
    }

    #sid-grainger-quiz .button-wrapper button {
        display: block;
        margin: 18px auto;
    }

    #sid-grainger-quiz .sid-Card-Result .progress {
        margin-bottom: 82px;
    }

    #sid-grainger-quiz .sid-Card-Result button {
        display: block;
        margin: 18px auto !important;
    }
}